{% extends "base.html" %}

{% block main %}

<h2>Contact Form</h2>
<hr>
<p>Fill in this form to contact the site owners</p>

<form action="" method ="post">
    {{ form.csrf_token }}
    <div>
        <p class = "fieldName"> Name (Required)</p>
        <p>
            {{form.name.label}} <br>
            {{form.name(size = 30)}}
        </p> 
    </div>

    <div>
        <p class = "fieldName"> E-mail (Required)</p>
        <p>
            {{form.email.label}} <br>
            {{form.email(size = 30)}}
        </p> 
    </div>

    <div>
        <p class = "fieldName"> Subject (Required)</p>
        <p>
            {{form.subject.label}} <br>
            {{form.subject(size = 30)}}
        </p> 
    </div>

    <div>
        <p class = "fieldName"> Message (Required)</p>
        <p>
            {{form.subject.label}} <br>
            {{form.subject(size = 300)}}
        </p> 
    </div>

    <div>
        <p class = "submit">
            {{form.submit()}}
        </p> 
    </div>
    

</form>
{% endblock%}
